html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.choice-bar {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.choice {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 3rem;
  overflow: hidden;
}

.new {
  background-image: url("/src/assets/VoteImg.jpg");
}

.vote {
  background-image: url("/src/assets/VoteImg2.jpg");
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: background-color 0.3s ease;
}

.choice:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.text {
  position: relative;
  z-index: 2;
}
